{% extends 'core/base.html' %}
{% load static %}
{% block head %}
<script>
$(document).ready(function (){
    momentConvertDuration();
});
</script>
{% endblock %}
{% block content %}
{% if posts %}
    <div class="post-list">
    {% for post in posts.reverse %}
        {# Post list view #}
        <div class="post-list-item">
            <div class="post-headline">
                <h2 class="post-link">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                {% if post.is_new %}
                    <small class="alert-new">NEW!</small>
                {% endif %}
            </div>
            <div class="post-byline">
                <small>
                    <span class="moment-convert-duration">{{ post.published_at | date:"c"}}</span> &bull; {{ post.author }}
                </small>
            </div>
            <div class="post-preview">
                {{ post.preview }}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    No posts here
{% endif %}
{% endblock %}
