{% extends 'core/base.html' %}
{% block og_type %}article{% endblock %}
{% block og_title %}{{ post.title }}{% endblock %}"/>
{% block og_description %}{{ post.preview | truncatechars:90 }}{% endblock %}
{% block og_permalink %}{{ request.build_absolute_uri }}{{ object.get_absolute_url | slice:"1:" }}{% endblock %}
{% block head %}
<script>
$(document).ready(function() {
    momentConvert();
});
</script>
{% endblock %}
{% block content %}
<h1 class="post-detail-headline">{{ post.title }}</h1>
{# Preformatted HTML #}
<div class="post-author">{{ post.author }}</div>
<div class="post-date moment-convert">{{ post.published_at | date:"c"}}</div>
<br>
<div class="post-text">
    {{ post.text | safe }}
</div>
<br>
<div class="post-detail-headline">Comments:</div>
{% with post.comments.all as comments %}
    {% if comments %}
    <div class="comment-list">
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-text">{{ comment.text }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
<br>
<div class="comment-form">
    <form action="{% url 'comment' category_slug=post.category post_slug=post.slug %}" method="POST">
        {% csrf_token %}
        <table>
            {{ comment_form.as_table }}
        </table>
        <button type="submit">Comment</button>
    </form>
</div>
<br>
{% endblock %}
