{% extends 'core/base.html' %}
{% block head %}
<script>
    let date = new Date({{ post.published_at.timestamp }} * 1000);
    let dateString = date.toLocaleString();
    $(document).ready(() => {
        $('.post-date').html(dateString);
    });
</script>
{% endblock %}
{% block content %}
<h1 class="post-detail-headline">{{ post.title }}</h1>
{# Preformatted HTML #}
<div class="post-author">{{ post.author }}</div>
<div class="post-date"></div>
<br>
<div class="post-text">
    {{ post.text | safe }}
</div>
<br>
<div class="post-detail-headline">Comments:</div>
{% with post.comments.all as comments %}
    {% if comments %}
    <div class="comment-list">
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-text">{{ comment.text }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
<br>
<div class="comment-form">
    <form action="{% url 'comment' category_slug=post.category post_slug=post.slug %}" method="POST">
        {% csrf_token %}
        <table>
            {{ comment_form.as_table }}
        </table>
        <button type="submit">Comment</button>
    </form>
</div>
<br>
{% endblock %}
