.post-list {
    display: block;
    width: 100%;
}

.post-list-item {
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.post-link {
    display: inline;
}

.post-link > a {
    color: blue;
    text-decoration: underline;
}

.post-link > a:visited {
    color: green;
}

.post-headline {
    padding: 0;
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-preview {
    display: -webkit-box;
    padding: 0;
    margin: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.alert-new {
    background-color: red;
    padding: 3px;
    border-radius: 3px;
}

/* INSIDE THE POST */

.post-detail-headline {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.post-author {

}

.post-date {

}

.post-text {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.comment-section {
    background-color: lightgray;
}

.comment-list {

}

.comment {
    padding: 10px;
}

.comment:nth-child(2n) {
    background-color: whitesmoke;
}

.comment:nth-child(2n + 1) {
    background-color: lightgray;
}

.comment-author {
    font-weight: bold;
}

.comment-form {
    width: 100%;
    padding: 0 0 0 5px;
    list-style-type: none;
}

.comment-form table {
    width: 100%;
}

.comment-form input {
    width: 99%;
    max-width: 99%;
}

.comment-form textarea {
    width: 99%;
    max-width: 99%;
    resize: vertical;
}

.comment-submit {
    width: 99%;
}
